<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar a navegação" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Planos", "ListarPlanos", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (Session["FuncLogado"] != null)
                    {
                        <li>@Html.ActionLink("Área Adiministrativa", "IndexFunc", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
            <!--Header com pesquisar-->
            <!--Logo Header-->
            <div class="logo">
                <img class="imagem-logo" src="~/Images/logo-branca.svg">
            </div>
            <!--Barra de Pesquisa-->
            <div class="barra-pesquisa">
                @using (Html.BeginForm("Buscar", "Home", FormMethod.Post))
                {
                    <input type="text" name="pesquisar" id="pesquisar" placeholder="Pesquise aqui!">
                    <input type="submit" text="Buscar" />
                }
                <!--Lupa da Barra de Pesquisa-->
                <i class="fa-solid fa-magnifying-glass" id="lupa-pesquisar"></i>
            </div>
            <!--CRIANDO UM IF PARA A SESSÃO VERIFICAR SE O USUARIO ESTARÁ LOGADO -->
            @if (Session["ClienteLogado"] != null)
            {
                <!--criando o actionLink do login na barra de menu -->
                <ul class="nav navbar-nav navbar-right">

                    @Html.ActionLink("Logout", "Login", "Login/Logout", new { area = "" }, new { @class = "nav-link" })

                    @Html.ActionLink(@Session["ClienteLogado"].ToString(), "DetalhesCliPet", "Cliente", new { area = "" }, new { @class = "nav-link" })
                </ul>

            }

            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <!--caso o login não esteja correto ele volta para novamente para o login -->

                    <li>  @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            }

            <ul class="nav navbar-nav navbar-right">
                <!--caso o login não esteja correto ele volta para novamente para o login -->

                <li>  @Html.ActionLink("Carrinho", "Carrinho", "Carrinho", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.js"></script>
</body>
</html>


