<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/css/glider.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav>
        <div class="nav-bar">
            <i class="bx bx-menu sidebarOpen"></i>
            <div class="logo">
                <img class="imagem-logo" src="~/assets/images/logo-branca.svg">
            </div>
            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">CodingLab</a></span>
                    <i class="bx bx-x siderbarClose"></i>
                </div>
                <ul class="nav-links">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "listanav" })</li>

                    <li>@Html.ActionLink("Planos", "ListarPlanos", "Home", new { area = "" }, new { @class = "listanav" })</li>
                    <li>@Html.ActionLink("Cachorro", "ListaProdDog", "Produto", new { area = "" }, new { @class = "listanav" })</li>
                    <li>@Html.ActionLink("Gato", "ListaProdCat", "Produto", new { area = "" }, new { @class = "listanav" })</li>
                    @if (Session["FuncLogado"] != null)
                    {
                        <li>@Html.ActionLink("Área Adiministrativa", "IndexFunc", "Home", new { area = "" }, new { @class = "listanav" })</li>
                    }

                    <div class="botao-login">
                        <i class="fa-solid fa-user" id="login-icon"></i>
                        @Html.ActionLink("Login", "Login", "Login", new { area = "" }, new { @class = "login" })

                    </div>
                </ul>
            </div>
            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class="bx bx-moon moon"></i>
                    <i class="bx bx-sun sun"></i>
                </div>
                <div class="searchBox">
                    <div class="searchToggle">
                        <i class="bx bx-x cancel"></i>
                        <i class="bx bx-search search"></i>
                    </div>
                    @using (Html.BeginForm("Buscar", "Home", FormMethod.Post))
                    {
                        <div class="search-field">
                            <input type="text" name="pesquisar" placeholder="Search...">
                            <i class="bx bx-search"></i>
                        </div>
                    }
                    </div>
                <!--Login-->


                <div class="botao-carrinho">
                    <i class="fa-solid fa-cart-shopping" id="cart-icon"></i>
                </div>
                <!-- Cart -->
                <div class="cart">
                    <h2 class="cart-title">Seu Carrinho</h2>
                    <!-- Content -->
                    <div class="cart-content">

                    </div>

                    <!-- Total -->
                    <div class="total">
                        <div class="total-title">Total</div>
                        <div class="total-price">R$0</div>
                    </div>

                    <!-- Buy Button -->
                    @Html.ActionLink("Ir para o carrinho", "Carrinho", "Carrinho", new { area = "" }, new { @class = "btn-buy" })
                   

                    <!-- Cart Close -->
                    <i class="bx bx-x" id="close-cart"></i>
                </div>
                <!-- Cart fIM  -->
            </div>
        </div>
   

     
    </nav>
 
           
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.js"></script>
</body>
</html>


