@model bibliotecaModel.ModelCliente
<title>Cadastrar</title>
<link rel="stylesheet" href="~/assets/css/header-cliente.css">
<link rel="stylesheet" href="~/assets/css/cadastrar1.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="scripts-forms" defer></script>
<html>
<body>
    <main>

        <section class="sec-cadastrar">
            <div class="info-cadastrar">
                <h1 id="cad-title3">Cadastre o Pet</h1>
                <img src="./assets/images/logo-branca.svg" alt="">
            </div>
            @using (Html.BeginForm("Cadastrar", "Pets", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="itens-cadastro">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.nome_pet, new { @class = "input", placeholder = "Nome do pet..." })
                        @Html.ValidationMessageFor(model => model.nome_pet, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.RGA, new { @class = "input", placeholder = "RGA..." })
                        @Html.ValidationMessageFor(model => model.RGA, "", new { @class = "text-danger" })
                        <div class="text-danger">@ViewBag.RGA</div>
                    </div>
                    <div id="input-date">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.nasc_pet, new { @class = "input", placeholder = "Data de nascimento...", @type = "date" })
                            @Html.ValidationMessageFor(model => model.nasc_pet, "", new { @class = "text-danger" })

                        </div>
                    </div>



                    <div id="raca-pet">
                        @Html.DropDownList("cachorro", "Raças cachorro")
                    </div>

                    <div id="raca-pet">
                        @Html.DropDownList("gato", "Raças gato")
                    </div>
                </div>
                <div id="sec-arquivo">
                    <div id="file-pet">
                        <label class="botao-arquivo" for="file">foto do Pet</label>
                        <input type="file" name="file" id="file" />
                    </div>
                </div>

                <div class="cadastra-bt">
                    <input type="submit" value="Cadastrar" class="botao-cadastrar" />
                </div>

            }
        </section>

    </main>
</body>
</html>





@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#gato').chosen();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cachorro').chosen();
        });
    </script>
}
