@model bibliotecaModel.ModelProduto
@{
    if (Session["Funclogado"] != null)
    {
        Layout = "~/Views/Shared/_LayoutFunc.cshtml";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="~/assets/css/header-funcionario.css">
    <link rel="stylesheet" href="~/assets/css/cadastrar1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="scripts-forms" defer></script>
</head>

<body>
    <main>

        <section class="sec-cadastrar">
            <div class="info-cadastrar">
                <h1 id="cad-title2">Atualizar o Produto</h1>
                <img src="~/assets/images/logo-branca.svg" alt="">
            </div>
            @using (Html.BeginForm("Atualizar", "Produto", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="itens-cadastro">
                    @Html.HiddenFor(model => model.id_prod)
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.nome_prod, new { @class = "input", placeholder = "Nome do Produto..." })
                    </div>
                    @Html.ValidationMessageFor(model => model.nome_prod, "", new { @class = "text-danger", style = "display:inline" })
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.quant, new { @class = "input", placeholder = "Quantidade..." })
                    </div>
                    @Html.ValidationMessageFor(model => model.quant, "", new { @class = "text-danger", style = "display:inline" })
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.valor_unitario, new { @class = "input", placeholder = "Quantidade..." })
                    </div>
                    @Html.ValidationMessageFor(model => model.valor_unitario, "", new { @class = "text-danger", style = "display:inline" })
                    <div id="raca-pet">
                        @Html.DropDownList("categoria", "Categorias")
                    </div>
                    <div id="desc-area">
                        <h3>descrição:</h3>
                        @Html.TextAreaFor(model => model.desc_prod, new { placeholder = "descrição...", style = " resize: none", @id = "descrição", cols = "30", rows = "4" });
                        @Html.ValidationMessageFor(model => model.desc_prod, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(model => model.id_categoria)
                    @Html.HiddenFor(model => model.id_func)
                    @Html.HiddenFor(model => model.ft_prod)
                    <div id="sec-arquivo">

                        <div id="file-pet">
                            <label class="botao-arquivo" for="file">foto </label>
                            <input type="file" name="file" id="file" />
                        </div>
                    </div>
                </div>

                <div class="cadastra-bt">
                    <input type="submit" value="Atualizar" class="botao-cadastrar " />
                </div>
            }
        </section>

    </main>

</body>
</html>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#categoria').chosen();
        });
    </script>
}