@model bibliotecaModel.ModelCategorias

@{
    if (Session["Funclogado"] != null)
    {
        Layout = "~/Views/Shared/_LayoutFunc.cshtml";
    }

}

<!DOCTYPE html>


<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
<<<<<<< Updated upstream
    <link rel="stylesheet" href="~/assets/css/cadastrar.css">
=======
    <link rel="stylesheet" href="~/assets/css/header-funcionario.css">
    <link rel="stylesheet" href="~/assets/css/cadastrar1.css">
>>>>>>> Stashed changes
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="scripts-forms" defer></script>

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <main>

        <section class="sec-cadastrar">
            <div class="info-cadastrar">
                <h1 id="cad-title2">Atualize a Categoria</h1>
                <img src="~/assets/images/logo-branca.svg" alt="">
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.id_categoria)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="itens-cadastro">
                    @Html.TextBoxFor(model => model.nome_categoria, new { @class = "input", placeholder = "Nome da categoria..." })
                    @Html.ValidationMessageFor(model => model.nome_categoria, "", new { @class = "text-danger" })
                    <div class="text-danger">@ViewBag.Categoria</div>


                    <div id="desc-area">
                        <h3 style="font-weight:bolder">descrição:</h3>
<<<<<<< Updated upstream
                        @Html.TextAreaFor(model => model.desc_categoria, new { placeholder = "descrição...", style = "width: 358px; height: 125px;", @id = "descrição" });
=======
                        @Html.TextAreaFor(model => model.desc_categoria, new { placeholder = "descrição...", style = " resize: none", @id = "descrição" , cols = "30", rows = "4" });
>>>>>>> Stashed changes
                        @Html.ValidationMessageFor(model => model.desc_categoria, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="cadastra-bt" style="margin-top:0">
                    <input type="submit" value="Atualizar" class="botao-cadastrar"  />
                </div>
            }
        </section>

    </main>
    </body>
</html>