@model IEnumerable<bibliotecaModel.ModelProduto>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/assets/css/style3.css">
<link rel="stylesheet" href="~/assets/css/header-cliente1.css">
<link rel="stylesheet" href="~/assets/css/glider.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
<body class="body">
    @if (TempData["AlertMessage"] != null)
    {
        <script>
        var alertMessage = '@TempData["AlertMessage"]';
        alert(alertMessage);
        </script>
    }
    <main class="main">
        <!--Slides de promoçao-->
        <section class="conta">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1000">
                        <img src="~/assets/images/banner1.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="~/assets/images/banner1.png" class="d-block w-100" alt="">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="~/assets/images/banner1.png" class="d-block w-100" alt="">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section class="sobre">

            <div class="desc-sobre container">
                <div class="texto-sobre">
                    <h1 class="titulo-sobre ">Por que escolher nosso PlanoPet?</h1>
                    <p class="texto-sobre ">O plano de saúde Pet COMVET foi desenvolvido para oferecer ao seu pet uma alternativa que representa tranquilidade financeira, manutenção preventiva e curativa, abrangendo atendimento nas diversas especialidades, desta forma, garantindo melhor qualidade de vida ao seu companheiro fiel.</p>
                </div>
                <img class="img-sobre" src="~/assets/images/cachorro-sobre.png" alt="">
            </div>
            <!--Imagem Sobre-->

        </section>
        <!--Planos Cachorro-->
        <h1 class="titulo-planos">Nossos Planos</h1>

        <section class="sec-planos-dog">
            <!--Titulo do Plano-->
            <h1 class="titulo-planos-dog">Planos Dog</h1>
            <!--Container do Plano-->
            <div class="planos-dog">
                <!--Plano 1-->
                <div class="plano">
                    <h1 class="titulo-plano">Plano Básico</h1>
                    <img src="~/assets/images/gato-plano3.svg" alt="">
                    <h1 class="preco-plano">R$ 99,90 / mês</h1>
                    <a class="botao-planos" href="/Home/ListarPlanos/">Contratar Agora</a>
                    <hr>
                    <p class="ver-mais-plano">ver mais</p>
                </div>
                <!--Plano 2-->
                <div class="plano">
                    <h1 class="titulo-plano">Plano Regular</h1>
                    <img src="~/assets/images/gato-plano2.svg" alt="">
                    <h1 class="preco-plano">R$ 159,90 / mês</h1>
                    <a class="botao-planos" href="/Home/ListarPlanos/">Contratar Agora</a>
                    <hr>
                    <p class="ver-mais-plano">ver mais</p>
                </div>
                <!--Plano 3-->
                <div class="plano">
                    <h1 class="titulo-plano">Plano Plus</h1>
                    <img src="~/assets/images/gato-plano3.svg" alt="">
                    <h1 class="preco-plano">R$ 199,90 / mês</h1>
                    <a class="botao-planos" href="/Home/ListarPlanos/">Contratar Agora</a>
                    <hr class="linha">
                    <p class="ver-mais-plano">ver mais</p>
                </div>
            </div>
        </section>

        <section class="sec-planos-cat">
            <!--Titulo do Plano-->
            <h1 class="titulo-planos-cat">Planos Cat</h1>
            <!--Container do Plano-->
            <div class="planos-cat">
                <!--Plano 1-->
                <div class="plano">
                    <h1 class="titulo-plano">Plano Básico</h1>
                    <img src="~/assets/images/gato-plano3.svg" alt="">
                    <h1 class="preco-plano">R$ 99,90 / mês</h1>
                    <a class="botao-planos" href="/Home/ListarPlanos/">Contratar Agora</a>
                    <hr>
                    <p class="ver-mais-plano">ver mais</p>
                </div>
                <!--Plano 2-->
                <div class="plano">
                    <h1 class="titulo-plano">Plano Regular</h1>
                    <img src="~/assets/images/gato-plano2.svg" alt="">
                    <h1 class="preco-plano">R$ 159,90 / mês</h1>
                    <a class="botao-planos" href="/Home/ListarPlanos/">Contratar Agora</a>
                    <hr>
                    <p class="ver-mais-plano">ver mais</p>
                </div>
                <!--Plano 3-->
                <div class="plano">
                    <h1 class="titulo-plano">Plano Plus</h1>
                    <img src="~/assets/images/gato-plano3.svg" alt="">
                    <h1 class="preco-plano">R$ 199,90 / mês</h1>
                    <a class="botao-planos" href="/Home/ListarPlanos/">Contratar Agora</a>
                    <hr class="linha">
                    <p class="ver-mais-plano">ver mais</p>
                </div>
            </div>
        </section>
        <h1 class="titulo-categoria-home">Produtos Para</h1>
        <!--Categoria Cachorro e Gato-->
        <section class="categoria-produtos-home container">

            <img class="img-categoria" src="~/assets/images/categoria-cachorros-home.png" alt="">
            <img class="img-categoria" src="~/assets/images/categoria-gatos-home.png" alt="">

        </section>

        <!--Slides-->
        <section class="slides">
            <!--Titulo da categoria-->
            <h3 class="titulo-categoria-produto">Nossos Produtos</h3>

            <div class="glider-contain">
                <div class="glider">
                    <!-- Box 1 -->
                    @foreach (var item in Model)
                    {
                        <!-- Box 1 -->
                        <div class="product-box">
                            <a href="/Home/Detalhes/@item.id_prod">
                                @if (@item.ft_prod != null)
                                {<img class="product-image" src="@item.ft_prod" data-holder-rendered="true" style="width:auto; height:300px">}
                                else
                                {<img class="product-image" src="~/Images/image-not-found.jpg" data-holder-rendered="true">}
                            </a>
                            <h2 class="product-title">@item.desc_prod</h2>
                            <span class="price">R$ @item.valor_unitario</span>
                            @using (Html.BeginForm("AdicionarCarrinho", "Carrinho", FormMethod.Post))
                            {
                                <input type="hidden" name="id" value=@item.id_prod>
                                <input type="hidden" name="pre" value=@item.valor_unitario>
                                <input type="hidden" name="quantidade" value="1">
                                <div class="botao-add-cart">
                                    <button type="submit" class="add-cart">Adicionar ao carrinho</button>
                                </div>
                            }

                        </div>
                    }

                    <!--Fim Product Box-->


                </div>
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
            </div>
        </section>

        <!--Slides-->
        <!--Avaliação-->
        <section class="avaliacao-cliente">
            <h1 class="titulo-avaliacao">Depoimentos</h1>

            <div class="glider-contain">
                <div class="glider2">
                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>
                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>
                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>
                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>

                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>
                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>

                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>
                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>

                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>
                    <div class="avaliacao">
                        <p class="opiniao-cliente">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <div class="dados-cliente">
                            <div class="img-cliente">
                                <img src="~/assets/images/perfil-cliente.png" alt="">
                            </div>
                            <p class="nome-cliente">Patricia Silva</p>
                        </div>
                    </div>
                </div>

                <button aria-label="Previous" id="glider-prev4" class="glider-prev">«</button>
                <button aria-label="Next" id="glider-next4" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>

        </section>

        <section class="perguntas-frequentes">
            <h1 class="titulo-perguntas-frequentes">Perguntas Frequentes</h1>
            <div class="accordion accordion-flush " id="accordionFlushExample">
                <div class="accordion-item frequente">
                    <h2 class="accordion-header frequente">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Por que usar o 4Luck?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                    </div>
                </div>
                <div class="accordion-item frequente">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Por que usar o 4Luck?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                    </div>
                </div>
                <div class="accordion-item frequente">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Por que usar o 4Luck?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                    </div>
                </div>


            </div>
        </section>

        <section class="assinatura">
            <div class="titulo-assinatura">
                <h1 class="assine-agora">Assine agora e</h1>
                <h2 class="subtitulo">
                    Fique por dentro de todas as <br>
                    nossas novidades!
                </h2>
                <h2 class="texto-fino">Toda semana algo novo para você!</h2>
            </div>
            <div class="email-assinatura">
                <input type="text" class="email" name="" id="" placeholder="Digite aqui seu E-mail">
            </div>
            <a class="botao-assinar" href="#">Assinar</a>
            </div>
        </section>

    </main>

</body>



@*<div class="">
        <div class="row center">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6 mb-4" style="margin:2% 4%">
                            <div class="card h-100">
                                <a href="/Home/Detalhes/@item.id_prod">
                                    @if (@item.ft_prod != null)
                                    {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 300px; height: 300px;" src="@item.ft_prod" data-holder-rendered="true">}
                                    else
                                    {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [300x300]" style="width: 300px; height: 300px;" src="~/Images/image-not-found.jpg" data-holder-rendered="true">}
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="@item.ft_prod">@item.nome_prod</a>
                                    </h4>
                                    <h5>R$ @item.valor_unitario</h5>
                                </div>
                                <div class="card-footer space-between-flex" style="width:90%">
                                    <div>
                                        @Html.ActionLink("Descubra mais", "Detalhes", "Home", new { id = item.id_prod }, new { @class = "btn btn-default btn-acao" })
                                    </div>
                                    <div>
                                        @using (Html.BeginForm("AdicionarCarrinho", "Carrinho", FormMethod.Post))
                                        {
                                            <input type="hidden" name="id" value=@item.id_prod>
                                            <input type="hidden" name="pre" value=@item.valor_unitario>
                                            <input type="hidden" name="quantidade" value="1">
                                            <button type="submit" class="btn btn-default btn-acao-primario">Comprar</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>*@

