@model bibliotecaModel.ModelCliente

<<<<<<< Updated upstream

<link href="~/assets/css/cadastrar.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>

=======
<link rel="stylesheet" href="~/assets/css/header-cliente.css">
<link href="~/assets/css/cadastrar1.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>

>>>>>>> Stashed changes
<html>
<body>
    <main>
        <section class="sec-cadastrar">
            <!--Titulo e Logo-->
            <div class="info-cadastrar">
<<<<<<< Updated upstream
                <h1 class="titulo">Cadastre-se</h1>
=======
                <h1 class="titulo">Atualizar</h1>
>>>>>>> Stashed changes
                <img src="~/assets/images/logo-branca.svg" alt="">
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_cli)

                <div class="itens-cadastro">

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.nome_cli, new { @class = "input", placeholder = "Nome" })
                    </div>
                    @Html.ValidationMessageFor(model => model.nome_cli, "", new { @class = "text-danger", style = "display:inline" })


                    <div class="form-group">
                        @Html.TextBoxFor(model => model.email_cli, new { @class = "input", placeholder = "E-mail" })
                    </div>
                    @Html.ValidationMessageFor(model => model.email_cli, "", new { @class = "text-danger" })
                    <div class="text-danger">@ViewBag.Email</div>






                    <div class="form-group">
                        @Html.TextBoxFor(model => model.CPF_cli, new { @class = "input", placeholder = "CPF" })
                    </div>
                    @Html.ValidationMessageFor(model => model.CPF_cli, "", new { @class = "text-danger" })
                    <div class="text-danger">@ViewBag.CPF</div>




                    <div class="form-group">
                        @Html.TextBoxFor(model => model.cep_cli, new { @id = "cep", @class = "input", placeholder = "CEP" })

                    </div>
                    @Html.ValidationMessageFor(model => model.cep_cli, "", new { @class = "text-danger" })
        


                    <div class="form-group">
                        @Html.TextBoxFor(model => model.logradouro_cli, new { @id = "rua", @class = "input", placeholder = "Rua" })
                    </div>
                    @Html.ValidationMessageFor(model => model.logradouro_cli, "", new { @class = "text-danger" })



                    <div class="form-group">
                        @Html.TextBoxFor(model => model.num_cli, new { @class = "input", placeholder = "Número" })
                    </div>
                    @Html.ValidationMessageFor(model => model.num_cli, "", new { @class = "text-danger", @id = "logradouro_func" })


                    <div class="form-group">

                        @Html.TextBoxFor(model => model.nasc_cli, new { @class = "input", placeholder = "Data de nascimento" })
                    </div>
                    @Html.ValidationMessageFor(model => model.nasc_cli, "", new { @class = "text-danger" })





                    <div class="form-group">
                        @Html.TextBoxFor(model => model.senha_cli, new { @class = "input", placeholder = "Senha", @type = "password" })
                    </div>
                    @Html.ValidationMessageFor(model => model.senha_cli, "", new { @class = "text-danger" })



                  





                    <div class="form-group">
                        @Html.TextBoxFor(model => model.tel_cli, new { @class = "input", placeholder = "Telefone" })
                    </div>
                    @Html.ValidationMessageFor(model => model.tel_cli, "", new { @class = "text-danger" })


                </div>



                <input type="submit" value="Atualizar" class="botao-cadastrar " />


            }

           

        </section>
    </main>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

