@model bibliotecaModel.ModelCliente

@{
    ViewBag.Title = "AtualizarPet";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ModelCliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nome_pet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome_pet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nome_pet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ft_pet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ft_pet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ft_pet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nasc_pet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nasc_pet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nasc_pet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RGA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RGA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RGA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_raca)
        </div>
        <br />
        <div class="col-md-12">
            @Html.DropDownList("cachorro", "Raças cachorro")
        </div>

        <br />
        <div class="col-md-12">
            @Html.DropDownList("gato", "Raças gato")
        </div>

        <br />



        <br />

        <br />

        <div>

            <label class="control-label col-md-2" for="file">Foto</label>

        </div>

        <div class="col-md-10">

            <input type="file" name="file" id="file" /> <br />

        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Atualizar" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "ListarPet", "Cliente")
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#gato').chosen();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cachorro').chosen();
        });
    </script>
}
