@model bibliotecaModel.ModelCliente

@{
    ViewBag.Title = "DetalhesdoFunc";
}
<link rel="stylesheet" href="~/assets/css/header-cliente.css">
<link href="~/assets/css/cadastrar1.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>
<html>
<body>
    <main>
        <section class="sec-cadastrar">
            <!--Titulo e Logo-->
            <div class="info-cadastrar">
                <h1 class="titulo">Detalhes</h1>
                <img src="~/assets/images/logo-branca.svg" alt="">
            </div>


            <div class="itens-cadastro">

                <div class="form-group">
                    @Html.TextBoxFor(model => model.nome_cli, new { @class = "input", placeholder = "Nome" })
                </div>



                <div class="form-group">
                    @Html.TextBoxFor(model => model.email_cli, new { @class = "input", placeholder = "E-mail" })
                </div>



                <div class="form-group">
                    @Html.TextBoxFor(model => model.CPF_cli, new { @class = "input", placeholder = "CPF" })
                </div>





                <div class="form-group">
                    @Html.TextBoxFor(model => model.cep_cli, new { @id = "cep", @class = "input", placeholder = "CEP" })

                </div>



                <div class="form-group">
                    @Html.TextBoxFor(model => model.logradouro_cli, new { @id = "rua", @class = "input", placeholder = "Rua" })
                </div>




                <div class="form-group">
                    @Html.TextBoxFor(model => model.num_cli, new { @class = "input", placeholder = "Número" })
                </div>



                <div class="form-group">

                    @Html.TextBoxFor(model => model.nasc_cli, new { @class = "input", placeholder = "Data de nascimento" })
                </div>





                <div class="form-group">
                    @Html.TextBoxFor(model => model.tel_cli, new { @class = "input", placeholder = "Telefone" })
                </div>



            </div>







        </section>
    </main>
</body>
</html>