@model IEnumerable<bibliotecaModel.ModelCliente>


@{
    if (Session["Funclogado"] != null)
    {
        Layout = "~/Views/Shared/_LayoutFunc.cshtml";
    }


}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/assets/css/header-funcionario.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/lista1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <title>Lista Pet</title>

</head>
<body>
    <main>
        <h1 class="titulo-tabela">Lista de Clientes</h1>
        <div style="overflow-x: auto;">
            <table class="col table table-striped table-responsive table-bordered table-sm" style="margin-bottom: 300px; width:866px">

                <thead>
                    <tr>
                        <th scope="col">ID </th>
                        <th scope="col" width="184">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Telfone</th>
                        <th scope="col" width="91">Botões</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.id_cli)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nome_cli)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPF_cli)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tel_cli)
                            </td>
                            <td>
                                @Html.ActionLink("Detalhes", "DetalhesdoFunc", new { id = item.id_cli }, new { @class = "add-cart-lista", style = "margin-left:3px" })

                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </main>



</body>
</html>

