@model bibliotecaModel.ModelFornecedor

@{
    if (Session["Funclogado"] != null)
    {
        Layout = "~/Views/Shared/_LayoutFunc.cshtml";
    }

}
<link rel="stylesheet" href="~/assets/css/header-funcionario.css">
<link href="~/assets/css/cadastrar1.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>
@Scripts.Render("~/Scripts/cep.js")
<html>
<body>
    <main>
        <section class="sec-cadastrar">
            <!--Titulo e Logo-->
            <div class="info-cadastrar">
                <h1 class="titulo">Atualize o Fornecedor</h1>
                <img src="~/assets/images/logo-branca.svg" alt="">
            </div>

            @using (Html.BeginForm())
            {
                <div class="itens-cadastro">

                    @Html.HiddenFor(model => model.id_forn)
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.nome_forn, new { @class = "input", placeholder = "Nome" })
                    </div>
                    @Html.ValidationMessageFor(model => model.nome_forn, "", new { @class = "text-danger", style = "display:inline" })


                    <div class="form-group">
                        @Html.TextBoxFor(model => model.email_forn, new { @class = "input", placeholder = "E-mail" })
                    </div>
                    @Html.ValidationMessageFor(model => model.email_forn, "", new { @class = "text-danger" })
                    <div class="text-danger">@ViewBag.Email</div>






                    <div class="form-group">
                        @Html.TextBoxFor(model => model.CNPJ_forn, new { @class = "input", placeholder = "CNPJ" })
                    </div>
                    @Html.ValidationMessageFor(model => model.CNPJ_forn, "", new { @class = "text-danger" })
                    <div class="text-danger">@ViewBag.CNPJ</div>




                    <div class="form-group">
                        @Html.TextBoxFor(model => model.cep_forn, new { @id = "cep", @class = "input", placeholder = "CEP" })

                    </div>
                    @Html.ValidationMessageFor(model => model.cep_forn, "", new { @class = "text-danger" })




                    <div class="form-group">
                        @Html.TextBoxFor(model => model.logradouro_forn, new { @id = "rua", @class = "input", placeholder = "Rua" })
                    </div>
                    @Html.ValidationMessageFor(model => model.logradouro_forn, "", new { @class = "text-danger" })



                    <div class="form-group">
                        @Html.TextBoxFor(model => model.num_forn, new { @class = "input", placeholder = "Número" })
                    </div>
                    @Html.ValidationMessageFor(model => model.num_forn, "", new { @class = "text-danger", @id = "logradouro_func" })


                    <div class="form-group">

                        @Html.TextBoxFor(model => model.tel_forn, new { @class = "input", placeholder = "Telefone" })
                    </div>
                    @Html.ValidationMessageFor(model => model.tel_forn, "", new { @class = "text-danger" })





                    <div class="form-group">
                        @Html.TextBoxFor(model => model.id_prod, new { @class = "input", placeholder = "id do produto" })
                    </div>
                    @Html.ValidationMessageFor(model => model.id_prod, "", new { @class = "text-danger" })




                </div>








                <input type="submit" value="Atualizar" class="botao-cadastrar " />
            }

        </section>
    </main>
</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
