@model bibliotecaModel.ModelFornecedor

@{
    if (Session["Funclogado"] != null)
    {
        Layout = "~/Views/Shared/_LayoutFunc.cshtml";
    }

}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous"></script>
@Scripts.Render("~/Scripts/cep.js")
<h2>Cadastrar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Fornecedor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nome_forn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome_forn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nome_forn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email_forn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email_forn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email_forn, "", new { @class = "text-danger" })
                @ViewBag.Email
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CNPJ_forn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CNPJ_forn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CNPJ_forn, "", new { @class = "text-danger" })
                @ViewBag.CNPJ
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cep_forn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.cep_forn, new { @id = "cep", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cep_forn, "", new { @class = "text-danger", @id = "logradouro_func" })
            </div>
        </div>
        <label>
            Bairro
            <input name="bairro" type="text" id="bairro" size="40" class="form-control" />
        </label><br />
        <label>
            Cidade
            <input name="cidade" type="text" id="cidade" size="40" class="form-control" />
        </label><br />
        <label>
            Estado
            <input name="uf" type="text" id="uf" size="2" class="form-control" />
        </label><br />
        <div class="form-group">
            @Html.LabelFor(model => model.logradouro_forn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.logradouro_forn, new { @id = "rua", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.logradouro_forn, "", new { @class = "text-danger", @id = "logradouro_func" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.num_forn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.num_forn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.num_forn, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.tel_forn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tel_forn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tel_forn, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.id_prod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.id_prod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_prod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", "Fornecedor")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
