@model bibliotecaModel.ModelRacas


@{
    if (Session["Funclogado"] != null)
    {
        Layout = "~/Views/Shared/_LayoutFunc.cshtml";
    }

}




<title>Cadastrar</title>
<link rel="stylesheet" href="~/assets/css/header-funcionario.css">
<link rel="stylesheet" href="~/assets/css/cadastrar1.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="scripts-forms" defer></script>
<html>
<body>
    <main>

        <section class="sec-cadastrar">
            <div class="info-cadastrar">
                <h1 id="cad-title3">Cadastre a raça</h1>
                <img src="./assets/images/logo-branca.svg" alt="">
            </div>
            @using (Html.BeginForm("Cadastrar", "Raca", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="itens-cadastro">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.nome_raca, new { @class = "input", placeholder = "Nome da raça..." })
                        @Html.ValidationMessageFor(model => model.nome_raca, "", new { @class = "text-danger" })
                        <div class="text-danger">@ViewBag.Raca</div>
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.tipo_animal, new { @class = "input", placeholder = "Tipo animal..." })
                        @Html.ValidationMessageFor(model => model.tipo_animal, "", new { @class = "text-danger" })

                    </div>


                </div>
                <div id="sec-arquivo">
                    <div id="file-pet">
                        <label class="botao-arquivo" for="file">foto</label>
                        <input type="file" name="file" id="file" />
                    </div>
                </div>

                <div class="cadastra-bt">
                    <input type="submit" value="Cadastrar" class="botao-cadastrar" />
                </div>

            }
        </section>

    </main>
</body>
</html>





@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#gato').chosen();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cachorro').chosen();
        });
    </script>
}
